In [3]:
import os

from parcllabs import ParclLabsClient
client = ParclLabsClient('xxxxx')

In [23]:
# get all metros and sort by total population
markets = client.search_markets.retrieve(
        location_type='CITY',
        region = 'MIDDLE_ATLANTIC',
        state_abbreviation = 'NY',
        sort_by='MEDIAN_INCOME',
        sort_order='DESC',
        params={'limit': 100},
        as_dataframe=True,
    )

RequestException: 403 Client Error: You have exceeded your usage limit of 200 credits for the current cycle with plan basic.. Please visit https://dashboard.parcllabs.com for more information.. Visit https://dashboard.parcllabs.com for more information or reach out to team@parcllabs.com.

In [ ]:
markets

In [1]:
parcl_id = '5372594'

In [4]:
start_date = '20-01-01'
end_date = '2024-06-01'
property_type = 'single_family'


results_for_sale_new_listings = client.for_sale_market_metrics_new_listings_rolling_counts.retrieve_many(
    parcl_ids=['5372594'],
    start_date=start_date,
    end_date=end_date,
    property_type=property_type,
    as_dataframe=True
)

|████████████████████████████████████████| 1/1 [100%] in 1.8s (0.57/s)

In [5]:
results_for_sale_new_listings

,date,rolling_7_day,rolling_30_day,rolling_60_day,rolling_90_day,parcl_id,property_type
0,2024-05-27,204,1065,2288,3359,5372594,SINGLE_FAMILY
1,2024-05-20,282,1131,2294,3356,5372594,SINGLE_FAMILY
2,2024-05-13,260,1125,2281,3265,5372594,SINGLE_FAMILY
3,2024-05-06,262,1133,2242,3227,5372594,SINGLE_FAMILY
4,2024-04-29,283,1145,2216,3195,5372594,SINGLE_FAMILY
5,2024-04-22,257,1084,2136,3055,5372594,SINGLE_FAMILY
6,2024-04-15,273,1046,2075,3118,5372594,SINGLE_FAMILY
7,2024-04-08,277,1038,1995,2989,5372594,SINGLE_FAMILY
8,2024-04-01,228,1005,1975,2872,5372594,SINGLE_FAMILY
9,2024-03-25,220,1006,1926,2703,5372594,SINGLE_FAMILY
10,2024-03-18,292,985,1885,2535,5372594,SINGLE_FAMILY
11,2024-03-11,233,905,1906,2349,5372594,SINGLE_FAMILY

In [10]:
results_housing_event_prices_all_properties = client.market_metrics_housing_event_prices.retrieve_many(
    parcl_ids=['5372594'],
    start_date=start_date,
    end_date=end_date,
    params={'limit': 1000},
    as_dataframe=True
)

|████████████████████████████████████████| 1/1 [100%] in 3.2s (0.31/s)

In [12]:
results_housing_event_prices.to_csv('results_housing_event_prices_all_properties.csv')

In [14]:
results_housing_event_prices_single_family = client.market_metrics_housing_event_prices.retrieve_many(
    parcl_ids=['5372594'],
    start_date=start_date,
    end_date=end_date,
    property_type='SINGLE_FAMILY',
    params={'limit': 1000},
    as_dataframe=True
)

|████████████████████████████████████████| 1/1 [100%] in 3.1s (0.33/s)

In [16]:
results_housing_event_prices_single_family.to_csv('results_housing_event_prices_single_family.csv')

In [17]:
results_housing_event_prices_condo = client.market_metrics_housing_event_prices.retrieve_many(
    parcl_ids=['5372594'],
    start_date=start_date,
    end_date=end_date,
    property_type='CONDO',
    params={'limit': 1000},
    as_dataframe=True
)

|████████████████████████████████████████| 1/1 [100%] in 2.0s (0.49/s)

In [19]:
results_housing_event_prices_condo.to_csv('results_housing_event_prices_condo.csv')

In [20]:
results_housing_event_prices_townhouse = client.market_metrics_housing_event_prices.retrieve_many(
    parcl_ids=['5372594'],
    start_date=start_date,
    end_date=end_date,
    property_type='TOWNHOUSE',
    params={'limit': 1000},
    as_dataframe=True
)

|████████████████████████████████████████| 1/1 [100%] in 1.6s (0.61/s)

In [22]:
results_housing_event_prices_townhouse.to_csv('results_housing_event_prices_townhouse.csv')